In [1]:
# The first step in data cleaning is to import all libraries needed:

import re
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import argparse
import datetime
import requests
from lxml import html
import lxml.html as lh
from bs4 import BeautifulSoup
import warnings 
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df=pd.read_csv('df_to_clean')
display(df)

,Unnamed: 0,id,Unnamed: 0_x,Source,worth,worthChange,realTimeWorth,realTimePosition,lastName,age,Unnamed: 0_y,gender,country,image,name,position,Unnamed: 0.1
0,0,9478,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1,beZOS,54 years old,52,M,United States,https://specials-images.forbesimg.com/imageser...,JEFF BEZOS,1.0,52
1,1,4608,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2,GATES,62 years old,53,M,United States,https://specials-images.forbesimg.com/imageser...,BILL GATEs,2.0,53
2,2,8790,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,bufFEtt,87 years old,54,None,None,https://specials-images.forbesimg.com/imageser...,warren BUffett,3.0,54
3,3,1463,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4,aRNAULt,69 years old,55,None,None,https://specials-images.forbesimg.com/imageser...,beRNARD ARNAUlt,4.0,55
4,4,3517,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5,zuckERBErg,1985,56,Male,United States,https://specials-images.forbesimg.com/imageser...,mARK ZUCKERBErg,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,2203,4826,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134,zHAO,51 years old,2255,Male,China,https://specials-images.forbesimg.com/imageser...,zhao XIAOQiang,2204.0,2255
2204,2204,8947,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134,zhOU,55 years old,2256,None,None,https://specials-images.forbesimg.com/imageser...,zhou LIANGzhang,2205.0,2256
2205,2205,5744,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856,zHU,51 years old,2257,M,None,https://specials-images.forbesimg.com/imageser...,zHU XINGMING,2206.0,2257
2206,2206,6586,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978,zHUO,52 years old,2258,F,Hong Kong,https://specials-images.forbesimg.com/imageser...,ZHUO JUn,2207.0,2258
2207,2207,9507,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978,zORLU,54 years old,2259,M,Turkey,https://specials-images.forbesimg.com/imageser...,olgun ZORLu,2208.0,2259

In [3]:
def drop_cols(lst):
    for i in lst:
        df.drop(i, axis=1, inplace=True)

In [4]:
cols_to_drop=['Unnamed: 0', 'id', 'Unnamed: 0_x', 'realTimeWorth', 'Unnamed: 0_y', 'Unnamed: 0.1']
drop_cols(cols_to_drop)

In [5]:
df['worth'] = df.worth.str.replace('BUSD', '')
df['worthChange'] = df['worthChange'].str.replace('millions USD', '')
df

,Source,worth,worthChange,realTimePosition,lastName,age,gender,country,image,name,position
0,Technology ==> Amazon,112.0,0.0,1,beZOS,54 years old,M,United States,https://specials-images.forbesimg.com/imageser...,JEFF BEZOS,1.0
1,Technology ==> Microsoft,90.0,-0.001,2,GATES,62 years old,M,United States,https://specials-images.forbesimg.com/imageser...,BILL GATEs,2.0
2,Finance and Investments ==> Berkshire Hathaway,84.0,-0.002,3,bufFEtt,87 years old,None,None,https://specials-images.forbesimg.com/imageser...,warren BUffett,3.0
3,Fashion & Retail ==> LVMH,72.0,0.0,4,aRNAULt,69 years old,None,None,https://specials-images.forbesimg.com/imageser...,beRNARD ARNAUlt,4.0
4,Technology ==> Facebook,71.0,0.0,5,zuckERBErg,1985,Male,United States,https://specials-images.forbesimg.com/imageser...,mARK ZUCKERBErg,5.0
...,...,...,...,...,...,...,...,...,...,...,...
2203,"Fashion & Retail ==> fashion, entertainment",1.0,0.0,2134,zHAO,51 years old,Male,China,https://specials-images.forbesimg.com/imageser...,zhao XIAOQiang,2204.0
2204,Manufacturing ==> electrical equipment,1.0,nan,2134,zhOU,55 years old,None,None,https://specials-images.forbesimg.com/imageser...,zhou LIANGzhang,2205.0
2205,Manufacturing ==> electrical equipment,1.0,0.0,1856,zHU,51 years old,M,None,https://specials-images.forbesimg.com/imageser...,zHU XINGMING,2206.0
2206,Manufacturing ==> printed circuit boards,1.0,0.0,1978,zHUO,52 years old,F,Hong Kong,https://specials-images.forbesimg.com/imageser...,ZHUO JUn,2207.0
2207,Diversified ==> diversified,1.0,nan,1978,zORLU,54 years old,M,Turkey,https://specials-images.forbesimg.com/imageser...,olgun ZORLu,2208.0

In [6]:
df1 = (df.age.str.extract('(\d+) (\w+)', expand=True))
df1.columns = ['age', 'years old']
df1

      age years old
0      54     years
1      62     years
2      87     years
3      69     years
4     NaN       NaN
...   ...       ...
2203   51     years
2204   55     years
2205   51     years
2206   52     years
2207   54     years

[2208 rows x 2 columns]

In [7]:
df = df1.combine_first(df).reindex(df.index)
df.drop('years old', axis=1, inplace=True)
df

,Source,age,country,gender,image,lastName,name,position,realTimePosition,worth,worthChange
0,Technology ==> Amazon,54,United States,M,https://specials-images.forbesimg.com/imageser...,beZOS,JEFF BEZOS,1.0,1.0,112.0,0.000
1,Technology ==> Microsoft,62,United States,M,https://specials-images.forbesimg.com/imageser...,GATES,BILL GATEs,2.0,2.0,90.0,-0.001
2,Finance and Investments ==> Berkshire Hathaway,87,None,None,https://specials-images.forbesimg.com/imageser...,bufFEtt,warren BUffett,3.0,3.0,84.0,-0.002
3,Fashion & Retail ==> LVMH,69,None,None,https://specials-images.forbesimg.com/imageser...,aRNAULt,beRNARD ARNAUlt,4.0,4.0,72.0,0.000
4,Technology ==> Facebook,1985,United States,Male,https://specials-images.forbesimg.com/imageser...,zuckERBErg,mARK ZUCKERBErg,5.0,5.0,71.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...
2203,"Fashion & Retail ==> fashion, entertainment",51,China,Male,https://specials-images.forbesimg.com/imageser...,zHAO,zhao XIAOQiang,2204.0,2134.0,1.0,0.000
2204,Manufacturing ==> electrical equipment,55,None,None,https://specials-images.forbesimg.com/imageser...,zhOU,zhou LIANGzhang,2205.0,2134.0,1.0,NaN
2205,Manufacturing ==> electrical equipment,51,None,M,https://specials-images.forbesimg.com/imageser...,zHU,zHU XINGMING,2206.0,1856.0,1.0,0.000
2206,Manufacturing ==> printed circuit boards,52,Hong Kong,F,https://specials-images.forbesimg.com/imageser...,zHUO,ZHUO JUn,2207.0,1978.0,1.0,0.000
2207,Diversified ==> diversified,54,Turkey,M,https://specials-images.forbesimg.com/imageser...,zORLU,olgun ZORLu,2208.0,1978.0,1.0,NaN

In [8]:
df = df[['name', 'lastName', 'age', 'gender', 'country', 'position', 'realTimePosition', 'Source', 'worth', 'worthChange', 'image']]
df

,name,lastName,age,gender,country,position,realTimePosition,Source,worth,worthChange,image
0,JEFF BEZOS,beZOS,54,M,United States,1.0,1.0,Technology ==> Amazon,112.0,0.000,https://specials-images.forbesimg.com/imageser...
1,BILL GATEs,GATES,62,M,United States,2.0,2.0,Technology ==> Microsoft,90.0,-0.001,https://specials-images.forbesimg.com/imageser...
2,warren BUffett,bufFEtt,87,None,None,3.0,3.0,Finance and Investments ==> Berkshire Hathaway,84.0,-0.002,https://specials-images.forbesimg.com/imageser...
3,beRNARD ARNAUlt,aRNAULt,69,None,None,4.0,4.0,Fashion & Retail ==> LVMH,72.0,0.000,https://specials-images.forbesimg.com/imageser...
4,mARK ZUCKERBErg,zuckERBErg,1985,Male,United States,5.0,5.0,Technology ==> Facebook,71.0,0.000,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...
2203,zhao XIAOQiang,zHAO,51,Male,China,2204.0,2134.0,"Fashion & Retail ==> fashion, entertainment",1.0,0.000,https://specials-images.forbesimg.com/imageser...
2204,zhou LIANGzhang,zhOU,55,None,None,2205.0,2134.0,Manufacturing ==> electrical equipment,1.0,NaN,https://specials-images.forbesimg.com/imageser...
2205,zHU XINGMING,zHU,51,M,None,2206.0,1856.0,Manufacturing ==> electrical equipment,1.0,0.000,https://specials-images.forbesimg.com/imageser...
2206,ZHUO JUn,zHUO,52,F,Hong Kong,2207.0,1978.0,Manufacturing ==> printed circuit boards,1.0,0.000,https://specials-images.forbesimg.com/imageser...
2207,olgun ZORLu,zORLU,54,M,Turkey,2208.0,1978.0,Diversified ==> diversified,1.0,NaN,https://specials-images.forbesimg.com/imageser...

In [9]:
df[['work_field', 'company']] = df.Source.str.split(' ==> ', expand=True)
df.drop('Source', axis=1, inplace=True)

In [10]:
df = df.rename(columns={'name': 'first_name', 'lastName': 'last_name', 'realTimePosition': \
                        'real_time_position', 'worth': 'worth(BUSD)', 'worthChange': 'worth(millions_USD)'})
df = df[['first_name', 'last_name', 'age', 'gender', 'country', 'position', 'real_time_position', \
              'worth(BUSD)', 'worth(millions_USD)', 'work_field', 'company', 'image']]

display(df)

,first_name,last_name,age,gender,country,position,real_time_position,worth(BUSD),worth(millions_USD),work_field,company,image
0,JEFF BEZOS,beZOS,54,M,United States,1.0,1.0,112.0,0.000,Technology,Amazon,https://specials-images.forbesimg.com/imageser...
1,BILL GATEs,GATES,62,M,United States,2.0,2.0,90.0,-0.001,Technology,Microsoft,https://specials-images.forbesimg.com/imageser...
2,warren BUffett,bufFEtt,87,None,None,3.0,3.0,84.0,-0.002,Finance and Investments,Berkshire Hathaway,https://specials-images.forbesimg.com/imageser...
3,beRNARD ARNAUlt,aRNAULt,69,None,None,4.0,4.0,72.0,0.000,Fashion & Retail,LVMH,https://specials-images.forbesimg.com/imageser...
4,mARK ZUCKERBErg,zuckERBErg,1985,Male,United States,5.0,5.0,71.0,0.000,Technology,Facebook,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,zhao XIAOQiang,zHAO,51,Male,China,2204.0,2134.0,1.0,0.000,Fashion & Retail,"fashion, entertainment",https://specials-images.forbesimg.com/imageser...
2204,zhou LIANGzhang,zhOU,55,None,None,2205.0,2134.0,1.0,NaN,Manufacturing,electrical equipment,https://specials-images.forbesimg.com/imageser...
2205,zHU XINGMING,zHU,51,M,None,2206.0,1856.0,1.0,0.000,Manufacturing,electrical equipment,https://specials-images.forbesimg.com/imageser...
2206,ZHUO JUn,zHUO,52,F,Hong Kong,2207.0,1978.0,1.0,0.000,Manufacturing,printed circuit boards,https://specials-images.forbesimg.com/imageser...
2207,olgun ZORLu,zORLU,54,M,Turkey,2208.0,1978.0,1.0,NaN,Diversified,diversified,https://specials-images.forbesimg.com/imageser...

In [11]:
def column_title(df, ls):
    for i in ls:
        df.update(df[i].str.title())
    return df
ls_cols = ['first_name', 'last_name', 'company']
column_title(df, ls_cols)

,first_name,last_name,age,gender,country,position,real_time_position,worth(BUSD),worth(millions_USD),work_field,company,image
0,Jeff Bezos,Bezos,54,M,United States,1.0,1.0,112.0,0.000,Technology,Amazon,https://specials-images.forbesimg.com/imageser...
1,Bill Gates,Gates,62,M,United States,2.0,2.0,90.0,-0.001,Technology,Microsoft,https://specials-images.forbesimg.com/imageser...
2,Warren Buffett,Buffett,87,None,None,3.0,3.0,84.0,-0.002,Finance and Investments,Berkshire Hathaway,https://specials-images.forbesimg.com/imageser...
3,Bernard Arnault,Arnault,69,None,None,4.0,4.0,72.0,0.000,Fashion & Retail,Lvmh,https://specials-images.forbesimg.com/imageser...
4,Mark Zuckerberg,Zuckerberg,1985,Male,United States,5.0,5.0,71.0,0.000,Technology,Facebook,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,Zhao Xiaoqiang,Zhao,51,Male,China,2204.0,2134.0,1.0,0.000,Fashion & Retail,"Fashion, Entertainment",https://specials-images.forbesimg.com/imageser...
2204,Zhou Liangzhang,Zhou,55,None,None,2205.0,2134.0,1.0,NaN,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2205,Zhu Xingming,Zhu,51,M,None,2206.0,1856.0,1.0,0.000,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2206,Zhuo Jun,Zhuo,52,F,Hong Kong,2207.0,1978.0,1.0,0.000,Manufacturing,Printed Circuit Boards,https://specials-images.forbesimg.com/imageser...
2207,Olgun Zorlu,Zorlu,54,M,Turkey,2208.0,1978.0,1.0,NaN,Diversified,Diversified,https://specials-images.forbesimg.com/imageser...

In [12]:
# Since we had the first and last name in the column name, with the following code we have only the first
# name in the column name and the last name in the column lastName
df['first_name'] = [a.replace(b, '').strip() for a, b in zip(df['first_name'], df['last_name'])]

display(df)

,first_name,last_name,age,gender,country,position,real_time_position,worth(BUSD),worth(millions_USD),work_field,company,image
0,Jeff,Bezos,54,M,United States,1.0,1.0,112.0,0.000,Technology,Amazon,https://specials-images.forbesimg.com/imageser...
1,Bill,Gates,62,M,United States,2.0,2.0,90.0,-0.001,Technology,Microsoft,https://specials-images.forbesimg.com/imageser...
2,Warren,Buffett,87,None,None,3.0,3.0,84.0,-0.002,Finance and Investments,Berkshire Hathaway,https://specials-images.forbesimg.com/imageser...
3,Bernard,Arnault,69,None,None,4.0,4.0,72.0,0.000,Fashion & Retail,Lvmh,https://specials-images.forbesimg.com/imageser...
4,Mark,Zuckerberg,1985,Male,United States,5.0,5.0,71.0,0.000,Technology,Facebook,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,Xiaoqiang,Zhao,51,Male,China,2204.0,2134.0,1.0,0.000,Fashion & Retail,"Fashion, Entertainment",https://specials-images.forbesimg.com/imageser...
2204,Liangzhang,Zhou,55,None,None,2205.0,2134.0,1.0,NaN,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2205,Xingming,Zhu,51,M,None,2206.0,1856.0,1.0,0.000,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2206,Jun,Zhuo,52,F,Hong Kong,2207.0,1978.0,1.0,0.000,Manufacturing,Printed Circuit Boards,https://specials-images.forbesimg.com/imageser...
2207,Olgun,Zorlu,54,M,Turkey,2208.0,1978.0,1.0,NaN,Diversified,Diversified,https://specials-images.forbesimg.com/imageser...

In [13]:
# This command is necessary to check the values we have in this series:
df['gender'].value_counts()

M         1127
None       495
Male       382
F          155
Female      36
Name: gender, dtype: int64

In [14]:
df.gender.replace('Male', 'M', inplace=True)
df.gender.replace('Female', 'F', inplace=True)
display(df)

,first_name,last_name,age,gender,country,position,real_time_position,worth(BUSD),worth(millions_USD),work_field,company,image
0,Jeff,Bezos,54,M,United States,1.0,1.0,112.0,0.000,Technology,Amazon,https://specials-images.forbesimg.com/imageser...
1,Bill,Gates,62,M,United States,2.0,2.0,90.0,-0.001,Technology,Microsoft,https://specials-images.forbesimg.com/imageser...
2,Warren,Buffett,87,None,None,3.0,3.0,84.0,-0.002,Finance and Investments,Berkshire Hathaway,https://specials-images.forbesimg.com/imageser...
3,Bernard,Arnault,69,None,None,4.0,4.0,72.0,0.000,Fashion & Retail,Lvmh,https://specials-images.forbesimg.com/imageser...
4,Mark,Zuckerberg,1985,M,United States,5.0,5.0,71.0,0.000,Technology,Facebook,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,Xiaoqiang,Zhao,51,M,China,2204.0,2134.0,1.0,0.000,Fashion & Retail,"Fashion, Entertainment",https://specials-images.forbesimg.com/imageser...
2204,Liangzhang,Zhou,55,None,None,2205.0,2134.0,1.0,NaN,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2205,Xingming,Zhu,51,M,None,2206.0,1856.0,1.0,0.000,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2206,Jun,Zhuo,52,F,Hong Kong,2207.0,1978.0,1.0,0.000,Manufacturing,Printed Circuit Boards,https://specials-images.forbesimg.com/imageser...
2207,Olgun,Zorlu,54,M,Turkey,2208.0,1978.0,1.0,NaN,Diversified,Diversified,https://specials-images.forbesimg.com/imageser...

In [15]:
# Transform all ages to correct numbers:
df.age.fillna(str(-2019), inplace=True)
current_year = datetime.datetime.today().year

age = []
for i in df['age']:
    if len(str(i)) == 4:
        age.append(str(current_year-int(i)))
    else:
         age.append(i)

df['age'] = age
display(df)

,first_name,last_name,age,gender,country,position,real_time_position,worth(BUSD),worth(millions_USD),work_field,company,image
0,Jeff,Bezos,54,M,United States,1.0,1.0,112.0,0.000,Technology,Amazon,https://specials-images.forbesimg.com/imageser...
1,Bill,Gates,62,M,United States,2.0,2.0,90.0,-0.001,Technology,Microsoft,https://specials-images.forbesimg.com/imageser...
2,Warren,Buffett,87,None,None,3.0,3.0,84.0,-0.002,Finance and Investments,Berkshire Hathaway,https://specials-images.forbesimg.com/imageser...
3,Bernard,Arnault,69,None,None,4.0,4.0,72.0,0.000,Fashion & Retail,Lvmh,https://specials-images.forbesimg.com/imageser...
4,Mark,Zuckerberg,34,M,United States,5.0,5.0,71.0,0.000,Technology,Facebook,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,Xiaoqiang,Zhao,51,M,China,2204.0,2134.0,1.0,0.000,Fashion & Retail,"Fashion, Entertainment",https://specials-images.forbesimg.com/imageser...
2204,Liangzhang,Zhou,55,None,None,2205.0,2134.0,1.0,NaN,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2205,Xingming,Zhu,51,M,None,2206.0,1856.0,1.0,0.000,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2206,Jun,Zhuo,52,F,Hong Kong,2207.0,1978.0,1.0,0.000,Manufacturing,Printed Circuit Boards,https://specials-images.forbesimg.com/imageser...
2207,Olgun,Zorlu,54,M,Turkey,2208.0,1978.0,1.0,NaN,Diversified,Diversified,https://specials-images.forbesimg.com/imageser...

In [16]:
# The function change_types receives a list of columns of the df as an argument and will convert its type
# to float, so it's possible to operate with them.
def change_to_float_type(l):
    for i in l:
        df[i] = df[i].astype(float)
change_to_float_type(['worth(BUSD)', 'worth(millions_USD)'])

In [17]:
# To complete our data I had to get this file:
path = '../data/raw/forbes_2018.csv'
forbes = pd.read_csv(path)
forbes.head(15)

,position,name,lastName,age,country,gender,wealthSource,industry,worth,worthChange,realTimeWorth,realTimePosition,image
0,NaN,Anant Asavabhokhin & family,Asavabhokhin,67.0,Thailand,M,real estate,Real Estate,NaN,-0.001,NaN,1613,https://specials-images.forbesimg.com/imageser...
1,NaN,Arash Ferdowsi,Ferdowsi,32.0,United States,M,online file storage,Technology,NaN,0.000,NaN,1734,https://specials-images.forbesimg.com/imageser...
2,NaN,Banthoon Lamsam & family,Lamsam,65.0,Thailand,M,banking,Finance and Investments,NaN,0.001,NaN,1952,https://specials-images.forbesimg.com/imageser...
3,NaN,Bill Adderley & family,Adderley,70.0,United Kingdom,M,home furnishings,Fashion & Retail,NaN,0.000,NaN,1956,https://specials-images.forbesimg.com/imageser...
4,NaN,Boris Zingarevich,Zingarevich,58.0,Russia,M,"pulp and paper, diversified",Diversified,NaN,0.000,NaN,2103,https://specials-images.forbesimg.com/imageser...
5,NaN,Bryan Sheffield,Sheffield,40.0,United States,M,oil & gas,Energy,NaN,0.000,NaN,2013,https:http://specials-images.forbesimg.com/ima...
6,NaN,Charles Butt & family,Butt,80.0,United States,M,supermarkets,Fashion & Retail,NaN,0.000,NaN,140,https:http://specials-images.forbesimg.com/ima...
7,NaN,Charles Cadogan & family,Cadogan,81.0,United Kingdom,M,real estate,Real Estate,NaN,0.000,NaN,214,https:http://specials-images.forbesimg.com/ima...
8,NaN,Chatri Sophonpanich & family,Sophonpanich,84.0,Thailand,M,banking,Finance and Investments,NaN,0.000,NaN,1726,https://specials-images.forbesimg.com/imageser...
9,NaN,Daniel Ek,Ek,35.0,Sweden,M,Spotify,Technology,NaN,0.001,NaN,811,https:http://specials-images.forbesimg.com/ima...
10,NaN,Daniel Hirschfeld,Hirschfeld,77.0,United States,M,fashion retail,Fashion & Retail,NaN,0.000,NaN,2135,https:http://specials-images.forbesimg.com/ima...
11,NaN,Daniel Tsai & family,Tsai,NaN,Taiwan,M,finance,Finance and Investments,NaN,-0.001,NaN,159,https:http://specials-images.forbesimg.com/ima...
12,NaN,Dieter Schaub,Schaub,80.0,Germany,M,media,Media & Entertainment,NaN,0.000,NaN,1256,https:http://specials-images.forbesimg.com/ima...
13,NaN,Dik Wessels,Wessels,72.0,Netherlands,M,"construction, engineering",Construction & Engineering,NaN,0.000,NaN,954,https:http://specials-images.forbesimg.com/ima...
14,NaN,Dong Fan,Dong,48.0,China,M,medical devices,Healthcare,NaN,-0.001,NaN,1923,https:http://specials-images.forbesimg.com/ima...

In [18]:
forbes.dropna(subset=['position'], inplace=True)

forbes.age.isnull().sum()

65

In [19]:
df['gender'] = df['position'].map(forbes.set_index('position')['gender'])
df['country'] = df['position'].map(forbes.set_index('position')['country'])
df

,first_name,last_name,age,gender,country,position,real_time_position,worth(BUSD),worth(millions_USD),work_field,company,image
0,Jeff,Bezos,54,M,United States,1.0,1.0,112.0,0.000,Technology,Amazon,https://specials-images.forbesimg.com/imageser...
1,Bill,Gates,62,M,United States,2.0,2.0,90.0,-0.001,Technology,Microsoft,https://specials-images.forbesimg.com/imageser...
2,Warren,Buffett,87,M,United States,3.0,3.0,84.0,-0.002,Finance and Investments,Berkshire Hathaway,https://specials-images.forbesimg.com/imageser...
3,Bernard,Arnault,69,M,France,4.0,4.0,72.0,0.000,Fashion & Retail,Lvmh,https://specials-images.forbesimg.com/imageser...
4,Mark,Zuckerberg,34,M,United States,5.0,5.0,71.0,0.000,Technology,Facebook,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...
2203,Xiaoqiang,Zhao,51,M,China,2204.0,2134.0,1.0,0.000,Fashion & Retail,"Fashion, Entertainment",https://specials-images.forbesimg.com/imageser...
2204,Liangzhang,Zhou,55,M,China,2205.0,2134.0,1.0,NaN,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2205,Xingming,Zhu,51,M,China,2206.0,1856.0,1.0,0.000,Manufacturing,Electrical Equipment,https://specials-images.forbesimg.com/imageser...
2206,Jun,Zhuo,52,F,Hong Kong,2207.0,1978.0,1.0,0.000,Manufacturing,Printed Circuit Boards,https://specials-images.forbesimg.com/imageser...
2207,Olgun,Zorlu,54,M,Turkey,2208.0,1978.0,1.0,NaN,Diversified,Diversified,https://specials-images.forbesimg.com/imageser...

In [22]:
df.to_csv('df_file', index=False)